@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

@keyframes grow {
  0% { font-size: 0; }
  100% { font-size: 40px; }
}
#collapsible-menu{
  display: none;
  height: 330px;
  width:330px;
  border-radius : 100%;
  background-color: black;
  float:left;
  color:white;
  position:absolute;
  animation:ease-in;
  transition: ease-in 10s;
  -moz-animation-duration: 2s;
  font-family: 'Work Sans', sans-serif;
  z-index: 5;


  
}
#collapsible-btn{
  font-family: 'Work Sans', sans-serif;
  height: 60px;
  width:fit-content;
  border-radius: 100%;
  background-color: transparent;
  position: fixed;
  color:white;
  font-size: 40px;
  animation-fill-mode: forwards;
  -moz-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  behavior: smooth;
  z-index: 1000;
  cursor: pointer;
  transition: 10s;
  
}
#collapsible-btn.open {
  z-index: 1000;
  transform: scaleZ(1000);
  transform: translateZ(1000);
  
}

#collapsible-btn.open #collapsible-menu {
  display: block;
  transform:scaleX(+55deg) scaleY(+15deg) scaleZ(0);
  left: -35%;
  top: -75%;
  z-index: 1;
  animation:ease-in .7s;
  transition: all ease-in .7s
}

.menu-txt {
  font-size: 24px;
  font-weight: 600;
  padding-left: 28%;
  padding-top: 45%;
  color:white;
  text-transform:uppercase;
  font-family: 'Work Sans', sans-serif;
}

#menu-color {
  color: white;
}
