@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}



* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  width:100%;
  height: 768px;
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

#carousel__slide1 {
  background-image: url('../../public/assets/maroon-5.jpg');
  background-size: cover;
  height: 768px;
  width:auto;
}

#carousel__slide2 {
  background-image: url('../../public/assets/Foo\ Fighters.jpg');
  background-size: cover;
  height: 768px;
  width:auto;
}

#carousel__slide3 {
  background-image: url('../../public/assets/katy-perry.jpg');
  background-size: cover;
  height: 768px;
  width:auto;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
  margin-bottom: 5cm;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(202, 202, 202);
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.slider {
  width: 100%;
  height: 768px;
  background-color: rgb(25, 25, 25);
  font-family: 'Work Sans', sans-serif;
  position: relative;
}
.container-slider {
  display:block;
  padding: 90px;
  align-content: center;
  font-family: 'Work Sans', sans-serif;
  position: absolute;
  z-index: 1000;
  top: 35%;
  text-shadow: black;
}

#pricing {
  display: block;
  color: white;
}
#app-ttl {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 600;
  text-align: center;
  z-index: 10;
  -webkit-filter: drop-shadow(18px 10px 10px #222);
  filter: drop-shadow(20px 0px 15px #0a0a0a);
}
.app-txt {
  padding-left: 270px;
  padding-right: 270px;
  font-size: 18px;
  letter-spacing: 3px;
  text-align: center;
  align-items: center;
  z-index: 10;
  -webkit-filter: drop-shadow(40px 40px 40px #222);
  filter: drop-shadow(70px 2px 10px #0a0a0a);
  
}
.btn-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

[class*="try-btn"] {
  outline: 0;
  border-radius: 50px;
  font-size: 1.1em;
  background: rgba(4, 23, 107, 0.8);
  font-family: 'Work Sans', sans-serif;
  color:rgb(255, 255, 255);
  font-weight: 600;
  letter-spacing: 4px;
  overflow: hidden;
  position: relative;
  padding: 2em 3em;
  margin: 4em;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  transition: all 500ms ease-in-out;
}
[class*="try-btn"]::after, [class*="btn-"]::before {
  content: "";
  position: absolute;
}
[class*="try-btn"]:hover, [class*="btn-"]:focus {
  background: rgba(83, 2, 94, 0.8);
}
[class*="try-btn-mix"]::after {
  background: #222;
  border-radius: 120px;
  content: attr(data-text);
  color: rgb(255, 255, 255);
  padding: 1.6em 2.5em;
  top: 0.4em;
  left: 0.5em;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;
}
[class*="try-btn-mix"]::before {
  background: transparent;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  box-shadow: 0 1em 2em 3em rgba(11, 175, 240, 0.5), 4em 0em 2em 2em rgba(93, 0, 155, 0.6), -4em -2em 2em 2em rgba(255, 0, 150, 0.5), -4em 2em 2em 4em rgba(235, 7, 26, 0.5), 0 -3em 2em 3em rgba(250, 121, 0, 0.5), 2em -1em 2em 2em rgba(240, 205, 9, 0.5);
  width: 0;
  height: 0;
  animation: mix 5s linear infinite;
}
@keyframes mix {
  40% {
    box-shadow: 0 -1em 2em 3em rgba(255, 0, 200, 0.5), 4em -1em 2em 3em rgba(255, 50, 0, 0.8), -4em 2em 3em 2em rgba(155, 200, 0, 0.5), -4em -2em 2em 2em rgba(200, 0, 150, 0.6), 0 3em 2em 2em rgba(20, 250, 0, 0.5), 2em 1em 2em 2em rgba(50, 10, 250, 0.5);
 }
  70% {
    box-shadow: 2em 1em 2em 3em rgba(55, 0, 200, 0.5), 3em 1em 2em 3em rgba(25, 150, 0, 0.6), 3em -2em 3em 3em rgba(155, 200, 0, 0.5), -4em 2em 2em 3em rgba(200, 0, 50, 0.6), 0 -3em 2em 3em rgba(200, 250, 0, 0.5), -2em 1em 2em 3em rgba(50, 210, 250, 0.6);
 }
}
.try-btn-mix-noborder::after {
  background: transparent !important;
  color: #222 !important;
}