@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

.plans-container {
  width: 100%;
  height: 788px;
  background-color: rgb(25, 25, 25);
  font-family: 'Work Sans', sans-serif;
}
.container {
  height: 100%;
  display:block;
  padding-top: 70px;
  padding-left: 210px;
  padding-right: 330px;
  font-family: 'Work Sans', sans-serif;
}
#pricing {
  display: block;
  color: white;
}
#pricing-ttl {
  
  font-size: 40px;
  font-weight: 600;
  text-align: start;
  
}
.pricing-txt {
  
  font-size: 24px;
  text-align: start;

}
.boxes {
  display: flex;
  justify-content: space-between;
  height: 100%;
  
}
.box {
  display:block;
  justify-content: flex-start;
  align-content: flex-start;
}

.plan-ttl {
  color: rgb(195, 82, 77);
  font-size: 22px;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  text-align: start;
  padding-left: -10px;
}
.plan-ttl-period {
  text-align: start;
  color: rgb(195, 82, 77);
  font-size: 28px;
  margin-block-start: 0.3em;
  margin-block-end: 0.02em;

}
.plan-ttl-price {
  text-align: start;
  color: rgb(195, 82, 77);
  font-size: 72px;
  font-weight: 600;
  padding: 0;
  height: 38px;
  margin-block-start: 0.3em;
  
}
#red-line {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: auto;
  border-style: inset;
  border: 1px solid rgb(195, 82, 77);
  color: rgb(195, 82, 77);
  background-color: rgb(195, 82, 77);
  width: 1.8cm;
}
#yellow-line {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: auto;
  border-style: inset;
  border: 1px solid rgb(244, 181, 87);
  width: 1.8cm;
  color:rgb(244, 181, 87);
}
#blue-line {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: auto;
  border-style: inset;
  border: 1px solid rgb(105, 222, 231);
  width: 1.8cm;
  color:rgb(105, 222, 231);
  
}
#fnt-yellow {
  color:rgb(244, 181, 87);
}
#fnt-blue {
  color:rgb(105, 222, 231);
}
#fnt-white {
  color: rgb(218,218,218);
  font-size: 26px;
  font-weight: 400;
}
.select-btn {
  border-radius: 2.5rem;
  border: 0;
  font-size: 13px;
  height: 45px;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: 9rem;
  border-width: 2px;
  border-style: solid;
  color: white;
}
#sel-red {
  background-color: rgb(195, 82, 77);
  border-color: rgb(195, 82, 77);
}
#sel-yellow {
  background-color: rgb(244, 181, 87);
  border-color: rgb(244, 181, 87);
}
#sel-blue {
  background-color: rgb(105, 222, 231);
  border-color: rgb(105, 222, 231);
}
.red {
  width: 100%;
  height: 794px;
  background-color: rgb(195, 82, 77);
  font-family: 'Work Sans', sans-serif;
}
#white-line {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: rgb(195, 82, 77);
  background-color: rgb(195, 82, 77);
  width: 1.4cm;
}
.title-box {
  padding-left: 50px;
  color:white;
  font-size: 44px;
  font-weight: 500;
  height: 90px;
  text-align: start;
}
.box-benefits {
  display: block;
  width: 195px;
  color: white;
  font-size: 27px;
  font-weight: 400;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.box-benefits-red {
  color: rgb(195, 82, 77);
}
ul {
  text-align: start;
  list-style-type: "♪ ";
  margin-left: 0;
  padding-left: 18px;
  padding-right: 3px;
  font-size: 16px;
}

li {
  list-style-type: "♪ ";
  font-size: 26px;
  font-weight: 500;
  margin-block-end: 0.1em;
  letter-spacing: 2px;
}

.benefits-txt {
  color:rgb(25, 25, 25);
  font-size: 18px;
  font-weight: 500;
  margin-block-start: 0.1em;
  margin-block-end: 0.3em;
}
.blue {
  width: 100%;
  height: 200px;
  background-color: rgb(87, 60, 201);
  font-family: 'Work Sans', sans-serif;
}

#contact {
  font-size: 20px;
  color: white;
  font-weight: 400;
  padding-left: 90px;
  padding-top: 20px;
  font-stretch: expanded;
  font-family: 'Work Sans', sans-serif;
}
#brand {
  display: block;
  align-self: flex-end;
  justify-self: center;
  color: white;
  font-size: 30px;
  padding-left: 25%;
  bottom: 0;
  padding-top: 35px;
  margin-block-end: 0.3em;
}

#footer {
  position: relative;
  color: white;
  padding-left: 35%;
  bottom: 0px;
  height: 100%;
  
  padding-bottom: 40px;
  background-color: rgb(87, 60, 201);
}